* {
    @include zero;
  	-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		@include max-height-width;
		font-family: $font-family;
		font-size: 10px;
		text-align: center;
		background: $light-grey;
	}

	ul {
		margin: em;
		text-align: center;
        padding: 50em;
        background: $light-grey;
    }

	li {
        padding: 17em;
		list-style: none;
		position: relative;
		display: block;
		width: 100px;
		height: 100px;
        
	}

	@-moz-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-webkit-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-o-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	.round {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		@include max-height-width;
		padding-top: 130px;		
		text-decoration: none;		
		text-align: center;
		font-size: 90px;		
		letter-spacing: -.035em;
		font-family: $font-family;		
		-webkit-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		border-radius: 300px;
		z-index: 1;
	}

	.round:hover {
		width: 130%;
		height: 130%;
		left: -15%;
		top: -15%;
		font-size: 90px;
		padding-top: 170px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	a.red {
		background-color: $yellow;
		color: $black;
		border-color: rgba(133,32,28,.2);
	}

	a.red:hover {
		color: $red;
	}

	a.green {
		background-color: $green;
		color: $black;
		border-color: rgba(0,63,71,.2);
	}

	a.green:hover {
		color: $yellow;
	}

	a.yellow {
		background-color: $red;
		color: $black;
		border-color: rgba(153,38,0,.2);
	}

	a.yellow:hover {
		color: $green;
	}

	.round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 60px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
	}

	.round span:hover {
		opacity: .85;
		font-size: 60px;
        padding-top: 160 px;
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);	
        text-align:center;
	}

	.green span {
		background: $black;		
	}

	.red span {
		background: $black;	
	}

	.yellow span {
		background: $black;

	}